---
- name: Check if cargo is installed
  ansible.builtin.stat:
    path: "/usr/bin/cargo"
  register: cargo_binary

- name: Install additional tools with cargo
  community.general.cargo:
    name: "{{ item }}"
    state: present
    executable: "/usr/bin/cargo"
  loop: "{{ cargo_packages }}"
  environment:
    CARGO_HOME: "/home/{{ ansible_user }}/.cargo"
    PATH: "/home/{{ ansible_user }}/.cargo/bin:{{ ansible_env.PATH }}"
