---
- name: Check if cargo is installed
  ansible.builtin.stat:
    path: "/usr/bin/cargo"
  register: cargo_binary

- name: Remove incorrect .cargo file
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.cargo"
    state: absent

- name: Ensure .cargo directory exists
  ansible.builtin.file:
    path: "/home/{{ ansible_user }}/.cargo"
    state: directory
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0755'

- name: Copy config.toml
  ansible.builtin.template:
    src: config.toml
    dest: "/home/{{ ansible_user }}/.cargo/config.toml"
    owner: "{{ ansible_user }}"
    group: "{{ ansible_user }}"
    mode: '0644'

- name: Install additional tools with cargo
  community.general.cargo:
    name: "{{ item }}"
    state: present
    executable: "/usr/bin/cargo"
  loop: "{{ cargo_packages }}"
  environment:
    CARGO_HOME: "/home/{{ ansible_user }}/.cargo"
    PATH: "/home/{{ ansible_user }}/.cargo/bin:{{ ansible_env.PATH }}"
